<?xml version="1.0" encoding="UTF-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>NUnit TestMethod Attribute</Title>
			<Author>Ankit Bansal</Author>
			<Description>Creates a TestMethod attribute</Description>
			<Shortcut>tm</Shortcut>
		</Header>
		<Snippet>
			<Code Language="CSharp"><![CDATA[
                [TestMethod]
                ]]></Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>