<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.web>
		<customErrors mode="Off">
		</customErrors>
		<httpRuntime enableVersionHeader="false">
		</httpRuntime>
	</system.web>
	<system.webServer>
		<rewrite>
			<outboundRules rewriteBeforeCache="true">
				<rule name="Remove-ASPNET-VERSION" enabled="true">
					<match serverVariable="RESPONSE_X-ASPNET-VERSION" pattern=".*">
					</match>
					<action type="Rewrite" value="">
					</action>
				</rule>
				<rule name="Remove-X-POWERED-BY" enabled="true">
					<match serverVariable="RESPONSE_X-POWERED-BY" pattern=".*">
					</match>
					<action type="Rewrite" value="">
					</action>
				</rule>
				<rule name="Remove-SERVER" enabled="true">
					<match serverVariable="RESPONSE_SERVER" pattern=".*">
					</match>
					<action type="Rewrite" value="">
					</action>
				</rule>
			</outboundRules>
			<rules>
				<rule name="HeaderValidation" enabled="true" patternSyntax="Wildcard">
					<match url=".*" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="localhost" negate="true">
						</add>
					</conditions>
					<action type="AbortRequest">
					</action>
				</rule>
				<rule name="RequestBlocking" enabled="true" patternSyntax="Wildcard">
					<match url=".*" />
					<conditions>
						<add input="{SERVER_PROTOCOL}" pattern="HTTP/1.0">
						</add>
					</conditions>
					<action type="AbortRequest">
					</action>
				</rule>
				<rule name="HttpOverrideBlock" enabled="true" patternSyntax="Wildcard">
					<match url=".*" />
					<conditions>
						<add input="{REQUEST_URI}" pattern="._method.">
						</add>
					</conditions>
					<action type="AbortRequest">
					</action>
				</rule>
			</rules>
		</rewrite>
		<httpProtocol>
			<customHeaders>
				<remove name="X-AspNet-Version" />
				<remove name="X-HTTP-METHOD" />
				<remove name="X-HTTP-Method-Override" />
				<remove name="X-METHOD-OVERRIDE" />
				<remove name="X-WIPP" />
				<remove name="X-Scan-Memo" />
				<remove name="X-RequestManager-Memo" />
				<remove name="X-Request-Memo" />
				<remove name="X-Powered-By" />
				<remove name="Server" />
				<remove name="Content-Security-Policy" />
				<remove name="Access-Control-Allow-Origin" />
				<remove name="Cache-Control" />
			</customHeaders>
		</httpProtocol>
		<security>
			<requestFiltering removeServerHeader="true">
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>